{% extends 'layout.twig' %}

{% block body %}
	<h2 class="titulo_login">Vamos Começar</h2>
	<form method="post" class="form_login">


		<div class="input_false">
			<div class="icon_input">
				<i class="fas fa-signature"></i>
			</div>
			<input type="text" class="input_username" name="name" placeholder="Seu Nome" >
		</div>

		<!-- <br> -->

		<div class="input_false">
			<div class="icon_input">
				<i class="fas fa-user"></i>
			</div>
			<input type="text" class="input_username" name="username" placeholder="Nome de Usuário" >
		</div>

		<!-- <br> -->



		<div class="input_false">
			<div class="icon_input">
				@
			</div>
			<input type="email" class="input_username" name="email" placeholder="E-mail" >
		</div>


		<div class="input_false">
			<div class="icon_input">
				<i class="fas fa-unlock-alt"></i>
			</div>
			<input type="password" class="input_username" name="password" placeholder="Senha Segura" >
		</div>

		<br>

		<button class="btn_cadastrar" href="/cadastrar" type="submit">Cadastre-se</button>
	</form>

{% endblock %}
