{% extends 'layout.twig' %}

{% block body %}


	<div class="content">
		
		<div class="card-one">
			<p class="box_icon_laptop">
				<i class="fas fa-laptop-code icon_laptop"></i>
			<p>
			<p class="paragrafo_laptop">
				Desenvolvemos uma aplicação baseada na rede social Instagram afim de demostrar a implementação de funcionalidades básicas.
			</p>			
		</div>

		<div class="card-two">
			<p class="box_icon_nodejs">
				<i class="fab fa-node icon_nodejs"></i>
			</p>
			<p class="paragrafo_node">
				Aplicação construida totalmente em NodeJs + Express, JavaScript no Server Side S2.
			</p>
		</div>


		<div class="card-tree">
			<p class="box_icon_database">
				<i class="fas fa-database icon_database"></i>
			<p>
			<p class="paragrafo_database">
				Os dados de nossa aplicação são guardados através do Sistema Gerenciador de Banco de Dados Mysql 
			</p>			
		</div>

		<div>
			
		</div>


	</div>




{% endblock %}
